<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" class="mt20">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <mat-card-content>
                <div class="container text-center">
                    <img src="../../../assets/logo.png" alt="">
                </div>
                <h1 class="text-center">Login Here !!</h1>
                <form action="">
                    <!-- user name detailing -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input required matInput placeholder="Enter Here">
                        <mat-hint>Enter Valid Username</mat-hint>
                      </mat-form-field>

                    <!-- password detailing -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" required matInput placeholder="Enter Here">
                      </mat-form-field>  

                      <!-- button details coding -->
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button class="ml20" mat-raised-button color="warn">Reset</button>
                    </div>
                </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
